body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1 {
    display: flex;
}
h2 {
    display: flex;
    
}
.Vacunatorios {
    width: 25%;
}

main {
    display: flex;
    width:100%
}

.dirección {

}